# Assignment_20

#### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt

In [1]:
test1 = "This is a test of the emergency text system"
file = open('test.txt','w')
file.write(test1)
file.close()

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
ReadFile = open("test.txt","r")
test2 =  ReadFile.readline()
print(test2)
ReadFile.close()


if test1 == test2:
    print("both are same ")

This is a test of the emergency text system
both are same

#### 3. Create a CSV file called books.csv by using these lines:
#### title,author,year
#### The Weirdstone of Brisingamen,Alan Garner,1960
#### Perdido Street Station,China Miéville,2000
#### Thud!,Terry Pratchett,2005
#### The Spellman Files,Lisa Lutz,2007
#### Small Gods,Terry Pratchett,1992

In [3]:
import csv
rows = [ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
       
with open('books.csv','w', newline='') as csv_file:
    write = csv.writer(csv_file)
    write.writerows(rows)
     
with open('books.csv','r',newline='') as csv_file:
    for line in csv_file.readlines():
        print(line)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3
connect =sqlite3.connect('books.db')
c = connect.cursor()
c.execute('DROP TABLE IF EXISTS books')
c.execute('create table books(title varchar(20),author varchar(20), year int)')
connect.commit()

#### 5. Read books.csv and insert its data into the book table.

In [7]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', connect, if_exists='append', index = False)

5

#### 6. Select and print the title column from the book table in alphabetical order.

In [8]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

#### 7. From the book table, select and print all columns in the order of publication.

In [9]:
c.execute('select title, author,year from books order by year')
#print(c.fetchall())

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [10]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [12]:
#!pip install redis

Collecting redis
  Downloading redis-4.5.4-py3-none-any.whl (238 kB)
     -------------------------------------- 238.9/238.9 kB 2.9 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.4

In [14]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

#### 10. Increment the count field of test and print it.

In [16]:
conn.hincrby('test','count', 3)